{% extends 'base.html.twig' %}

{% set page_title = 'Página Não Encontrada' %}

	{% block body %}
			<div class="container">
				<div class="lma-section-content-wrap">
					<div class="lma-section-content">
						<div class="row">
							<div class="col-md-12">
								<blockquote>
									<h1 style="text-align: center">Desculpe, mas essa p&aacute;gina n&atilde;o existe no site!</h1>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->
	{% endblock %}
