{% extends 'base.html.twig' %}


{% set page_title = 'Entre em contato' %}

{% form_theme form 'forms/fields.html.twig' %}

{% block body %}
			<div class="lma-section-seperator lma-section-seperator-white" id="contact-animate" style="background-image: url({{ asset('images/hand-laptop-notebook.jpg')}});" data-stellar-background-ratio="0.5">
				<div class="lma-overlay"></div>
				<div class="container">
					<div class="lma-section-content-wrap">
						<div class="lma-section-content">
							<div class="row">
								
								<div class="col-md-3">
									<h2 class="lma-section-heading to-animate">Entre em contato<span class="lma-border"></span></h2>
									<ul class="lma-contact">
										<li class="to-animate">Para entrar em contato comigo, preencha o formulário ao lado com a sua mensagem.</li>
										<li class="to-animate">Ou envie um email para: contato@lucianomarinho.com.br</li>
									</ul>
								</div>

{% include 'forms/contact-form.html.twig' %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->
{% endblock %}
