{% extends 'base.html.twig' %}

{% set page_title = 'Entre em contato' %}

{% block body %}
			<div class="lma-section-seperator lma-section-seperator-white" id="contact-animate" style="background-image: url({{ asset('images/hand-laptop-notebook.jpg')}});" data-stellar-background-ratio="0.5">
				<div class="lma-overlay"></div>
				<div class="container">
					<div class="lma-section-content-wrap">
						<div class="lma-section-content">
							<div class="row">
								<div class="col-md-12">
									<h2 class="lma-section-heading to-animate">Muito obrigado, assim que possível lhe responderei!<span class="lma-border"></span></h2>
									<div class="lma-overlay-text"><a href="/">Voltar <<</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->
{% endblock %}
