* {
    font-family: inherit;
    font-size: 100%;
}
/* COMMON */
body{border:0 none;color:#0D0D0D;font-family:'Arial,Helvetica,sans-serif';margin:0;outline:medium none;padding:0;text-decoration:none;}
a {color:#666666;text-decoration:underline;}
a:hover{color:#CCCCCC;text-decoration:none;}
h1{color:#333333;font-size:20px;font-weight:bold;text-indent:20px;}
h2{color:#333333;font-size:18px;font-weight:bold;text-indent:18px;}
h3{color:#333333;font-size:16px;font-weight:bold;text-indent:16px;}
h4{color:#333333;font-size:14px;font-weight:bold;text-indent:14px;}
h5{color:#333333;font-size:12px;font-weight:bold;text-indent:12px;}
b,strong{color:#333333;font-weight:bold;text-indent:12px;text-shadow:4px 4px 4px #CCCCCC;}
p{text-indent:5px;}
input, textarea{font-family:Verdana;font-size:0.9em;}
textarea{border:1px solid #000080;}
input.text{border:1px solid #10681C;height:16px;}
input.file{border:1px solid #10681C;height:25px;}
p.field{font-size:0.9em;margin:0 0 10px;}
dd ul{background:#AA6012;color:#FFFFFF;list-style-type:none;text-weight:bold;}
dl dt{float:left;margin-bottom:2px;position:relative;width:150px;}
dl dt label{color:#333333;font-size:12px;font-weight:bold;}
dl dd{float:left;margin-bottom:2px;position:relative;width:790px;}
fieldset{border:0px;}

/* !XDEBUG beautifying */
.xdebug-error {background: #ddd;border-color: #666;font-size: 12px;margin: 0 auto 10px auto;width: 95%;}
.xdebug-error th, .xdebug-error td {padding: 2px;}
.xdebug-error th {background: #ccc;}
.xdebug-error td {/* background: #fee; */}
.xdebug-error span {display: none;}
.xdebug-error tr:first-child {background: url(../img/xdebug-logo.png) #ccc no-repeat left top;height:20px;padding: 20px 4px 20px 100px;width:20px;}
.xdebug-error_callStack th {background: #666;color: #ddd;}

table.sample, table.login, table.form{
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(center top , #FFFFFF, #666666) repeat scroll 0 0 transparent;
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666)";

border: 0 none;
border-radius: 4px 4px 4px 4px;
box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.5);
margin:0 0 10px auto;
padding: 0;
}
table.sample{color:#FFFFFF;width:982px;}
table.login{color:#FFFFFF;margin:0 auto;width:310px;}
table.form{color:#FFFFFF;margin:10px auto;width:600px;}

table.sample thead tr, table.login tr td:first-child, table.form tr td:first-child{
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(center top , #FFFFFF, #666666) repeat scroll 0 0 transparent;
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666)";

border-collapse:separate;
color:#FFFFFF;
font-family:"Trebuchet MS", sans-serif;
font-size:11px;
font-weight:bold;
line-height:15px;
font-style:normal;
}

table.sample td{border:0;color:black;font-size:12px;line-height:15px;padding:0 2px 0 2px;}
table.sample th{font-size:10px;}
/*table.sample .impar{background:#8CA6E2;}
table.sample .par{background:#8A8AEA;}*/
table.sample .impar{background:#FFF;}
table.sample .par{background:#FFF;}
table.sample .over{background:#8787AF;}
#button{margin:5px 0px 10px;}

#topbar{
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(center top , #999999, #666666, #333333, #000000) repeat scroll 0 0 transparent;
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#000000);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#000000)";

float:left;top:0;position:fixed;width:100%;z-index:1;}

#top{background:url("../img/top.png") no-repeat scroll 0 0 transparent;height:86px;margin:0;width:1002px;}
#topleft{float:left;padding:5px 0 0 120px;position:relative;width:632px;}
#toplogotop{background:url("../img/logo-top.png") no-repeat scroll 0 0 transparent;float:left;height:49px;margin:0 0 0 43;position:relative;width:507px;}
#toplogobottom{background:url("../img/logo-bottom.png") no-repeat scroll 0 0 transparent;float:left;height:21px;margin:0 0 0 43;position:relative;width:507px;}

#topright{float:left;position:relative;width:250px;}
.toprightsi{margin:0 10px 0 10px;width:432px;}
.toprightsi img{border:0;float:left;position:relative;width:46px;}

#menubar{background: url("img/three_0.gif") repeat-x scroll 0 0 #FFFFFF;float:left;height:35px;position:fixed;top:86px;width:100%;z-index:1;}
#menu{height:35px;margin:0;width:1002px;}

#layout:before, #layout:after{
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(center top , #FFFFFF, #666666) repeat scroll 0 0 #404040;
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666)";
	
bottom: 0;left: 0;position:fixed;right: 0;top: 0;z-index: -1;}

#layout{background:url("../img/main-content-bg.png") repeat-y scroll 0 0 #404040;float:left;height:100%;margin:121px auto 0;padding:10px 0 120px 0;position:relative;top:0px;width:100%;}
#layout:before{float:left;height:100%;margin:0 auto;padding:0;position:relative;top:0px;width: 100%;}

#left{display:none !important;background:none repeat scroll 0 0 transparent;float:left;left:8px;margin:0;position:relative;width:250px;}
.menulefttop{background:url(/img/menulefttop.png) no-repeat scroll 0 0 transparent;float:left;height:11px;margin:0;padding:0;position:relative;width:250px;}
.menuleftmiddle{background:url(/img/menuleftmiddle.png) repeat-y scroll 0 0 transparent;float:left;margin:0;padding:0;position:relative;width:250px;}
.menuleftmiddle ul{list-style-type:none;margin:5px 15px;padding:0;}
.menuleftbottom{background:url(/img/menuleftbottom.png) no-repeat scroll 0 0 transparent;float:left;height:11px;margin:0 0 10px;padding:0;position:relative;width:250px;}
.menuleftclear{clear:both;margin:0 0 0 0;}

.menucentertop{background:url(/img/menucentertop.png) no-repeat scroll 0 0 transparent;float:left;height:11px;margin:0 0 0 30px;padding:0;position:relative;width:656px;}
.menucentermiddle{background:url(/img/menucentermiddle.png) repeat-y scroll 0 0 transparent;float:left;margin:0;padding:0 40px 0 43px;position:relative;width:636px;}
.menucenterbottom{background:url(/img/menucenterbottom.png) no-repeat scroll 0 0 transparent;float:left;height:11px;margin:0 0 10px 30px;padding:0;position:relative;width:656px;}
.menucenterclear{clear:both;margin:0 0 0 0;}

#maincontent{float:left;left:14px;margin:0;position:relative;width:737px;}

/* SOCIAL BUTTONS */
#socialbuttonnav{list-style:none;margin:0 auto;overflow:hidden;width:90%;}
#socialbuttonnav li{background:none;float:left;height:80px;line-height:30px;margin-right:2px;overflow:hidden;text-align:center;width:65px;}
#socialbuttonnav #fb{width:50px;}
#fb{border:none;text-align:center;}
#fb iframe{float:left;text-align:center;}

#loginbox{border:1px solid #10681C;float:center;margin:0 auto;padding:10px 10px 20px 10px;position:relative;width:682px;}
#loginbox h1{text-align:center;}

.modaldetails_title{color:#003399;}
.modaldetails_value{color:#336699;}

#tooltip{background:#1D44A1;border:1px solid #8CA6E2;color:#FFF;display:none;font-family:'Verdana, Arial, Helvetica, sans-serif';font-size:12px;font-weight:bold;padding:2px 5px;position:absolute;}

.error, .notice, .success, .info {
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(center top , #FFFFFF, #666666) repeat scroll 0 0 transparent;
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#666666)";

border-radius:4px 4px 4px 4px;
box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.5);
font-size:0.8em;font-weight:bold;margin:10px auto 0px;padding:1em 2em;text-align:center;width:760px;
}

.submit-group{left:60px;margin:15px 0 0 0;text-align:center;}
.submit-groupb{float:left;text-align:center;position:relative;}
#tdbuttons{padding:10px 0 10px 0;}
#paginationdiv{margin:40px 0;padding:20px;width:940px;}
#pagination{margin:0 auto;width:800px;}
#pagination li{border:0; margin:0; padding:0;font-size:11px;list-style:none;margin-right:2px;}
#pagination a{background:#FFFFFF;border:solid 1px #9AAFE5;color:#2E6AB1;margin-right:2px;}
#pagination .previous-off,
#pagination .next-off {background:#2E6AB1;color:#FFFFFF;display:block;float:left;font-weight:bold;margin-right:2px;padding:4px 6px;}
#pagination .next a,
#pagination .previous a {font-weight:bold;}
#pagination .active{background:#2E6AB1;color:#FFFFFF;font-weight:bold;display:block;float:left;padding:4px 6px;}
#pagination a:link,
#pagination a:visited {color:#0E509E;display:block;float:left;padding:3px 6px;text-decoration:none;}
#pagination a:hover{border:1px solid #0E509E;}

#bottombar{float:left;height:0px;margin:0;padding:0;position:fixed;top:651px;width:100%;}
#bottombarback{height:0px;margin:0 auto;position: relative;width:100%;}

#footer{background:#CCCCCC;bottom:0;color:#000000;float:left;font-size:11px;margin:0;padding:10px 0px;position:relative;text-align:center;text-decoration:none;width:100%;}
